<!DOCTYPE html>
<html lang="en">
		<head>
				<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
					<link href="/static/jasny_bootstrap.css" rel="stylesheet" media="screen">
					<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
				
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script>
</script>
</head>

<body>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/jasny_bootstrap.js"></script>

		
		<div class="well" style="max-width: 400px; margin: 0 auto 10px; margin-top:100px">

				<h2 style="text-align: center;"> Welcome To GeoNetViz </h2>
				<p style="color:#0088cc; text-align: center;margin-top:20px; margin-botton:20px;">Please upload a network file to visualize.</p>

				<form action="/upload/" method="POST" enctype="multipart/form-data" id="uploadform">


						<div class="fileupload fileupload-new" data-provides="fileupload">
  <span class="btn btn-file btn-large btn-block btn-success"><span class="fileupload-new">Select a file</span><span class="fileupload-exists">Change</span><input name="ds" id="ds" enctype="multipart/form-data" type="file" /></span>
  <span class="fileupload-preview"></span>
  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
</div>

				<input class="btn btn-large btn-block" type="submit" value="Submit">

				<p style="color:#0088cc; text-align: center;margin-top:20px; margin-botton:20px;"><a style="text-decoration:underline;" href="#" id="file-formats" rel="popover" data-content="We support three types of file formats: 1. all-in-one JSON format: one field called 'nodes', one field called 'edges' or 'links'. 2. Two JSON files, one being edges, the other being links. 3. CSV format with headers. Note that there must be either a country_code and/or lat/lng fields." data-original-title="Acceptable File Formats">What file formats do we accept?</a></p>

	
				<p style="color:#0088cc; text-align: center;margin-top:20px;">Examples:</p>
				
				<p style="color:#0088cc; text-align: center;"><a style="text-decoration:underline;" href="http://cs448b.digitallyinclined.net/view/collab2008/">Collaboration Network</a></p>

				<p style="color:#0088cc; text-align: center;"><a style="text-decoration:underline;" href="http://cs448b.digitallyinclined.net/view/airbnb/">Airbnb Travelers </a></p>



		</div>	

	<script>  
		$(function ()  
		{ $("#file-formats").popover({placement:'bottom'});   
		});  
	</script>

</body>
</html>
