<!DOCTYPE html>
<html lang="en">
		<head>
				<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
					<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
					<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
					<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
				
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script>
</script>
</head>

<body>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>

		
		<div class="well" style="max-width: 400px; margin: 0 auto 10px; margin-top:100px">

				<h2 style="text-align: center;"> Welcome To GeoNetViz </h2>
				<p style="color:#0088cc; text-align: center;margin-top:20px; margin-botton:20px;"><a href="#" id="file-formats" rel="popover" data-content="We support three types of file formats: 1. all-in-one JSON format: one field called 'nodes', one field called 'edges' or 'links'. 2. Two JSON files, one being edges, the other being links. 3. CSV format with headers. Note that there must be either a country_code and/or lat/lng fields." data-original-title="Acceptable File Formats">Please upload a network file to visualize.</a></p>

				<form action="/upload/" method="POST" enctype="multipart/form-data" id="uploadform">

						<!-- too make this first button pretty, the type has to be button. but to upload a file, the type has to be file. -->

				<input class="btn btn-file btn-success btn-large btn-block" name="ds" id="ds" enctype="multipart/form-data" type="file" value="Select A File"/>
				<input class="btn btn-large btn-block" type="submit" value="Submit">


		</div>	

	<script>  
		$(function ()  
		{ $("#file-formats").popover({placement:'bottom'});   
		});  
	</script>

</body>
</html>
